<div class="flex items-center gap-1">
  <%= radio_button_tag :sort, "created",
                       params[:sort] == "created",
                       onclick: ("$('form').submit();") %>
  <span class="text-sm">Newest</span>
</div>

<div class="flex items-center gap-1">
  <%= radio_button_tag :sort, "title",
                       params[:sort] == "title",
                       onclick: ("$('form').submit();") %>
  <span class="text-sm">Title</span>
</div>

<div class="flex items-center gap-1">
  <%= radio_button_tag :sort, "led",
                       params[:sort] == "led",
                       onclick: ("$('form').submit();") %>
  <span class="text-sm">Most led</span>
</div>

<% if params[:query].present? %>
  <div class="flex items-center gap-1">
    <%= radio_button_tag :sort, "keywords",
                         params[:sort] == "keywords",
                         onclick: ("$('form').submit();") %>
    <span class="text-sm">Keywords</span>
  </div>
<% end %>
