<footer class="bg-primary text-white py-4 mt-24">
  <div class="container mx-auto text-center">
    <p class="pt-4 text-sm text-white">
      2026 A Window Between Worlds ® ™ • Registered 501(c)(3) EIN: 95-448606
      <br>
      Facilitator Portal built lovingly by <a href="https://www.rubyforgood.org" class="hover:underline hover:text-gray-300">Ruby for Good</a>
    </p>
  </div>
</footer>