<div class="w-full">
  <div class="flex items-start justify-between m-6">
    <div class="pr-6">
      <h1 class="text-2xl font-semibold mb-2">Community of Practice Events</h1>

     <div>
       Mark your calendars for a year of exciting events! They are
       designed to expand your knowledge, ignite your passion, and foster connections within our network of
       Windows Facilitators. Whether you’re a seasoned facilitator or just starting out,
       we think you’ll find something to inspire and empower you.
       <br><br>
       <span class="font-bold">Stay Updated & Connected!</span>
       <br>
       To ensure you don’t miss a thing, follow these simple steps:
       <br>
       <ul class="list-disc pl-5">
         <li><span class="font-bold">Register:</span> Click "Register"
           (event dates/times are subject to change -- we will keep you informed by email)
         </li>
         <li><span class="font-bold">Calendar:</span> Click "Add to calendar" (remote event invites will include a Zoom link)</li>
         <li>
           <span class="font-bold">Confirm:</span> Check your inbox for confirmation emails
         </li>
         <li>
           <span class="font-bold">Wait:</span> As each event approaches, you’ll receive an email with more information.
         </li>
         <li>
           <span class="font-bold">Ask:</span>
           For questions, reach out to us at <%= mail_to "programs@awbw.org",
                                                         class: "underline" %>
         </li>
       </ul>
     </div>
    </div>
    <%= link_to "New Event",
                new_event_path,
                class: "whitespace-nowrap btn btn-secondary-outline" %>
  </div>
</div>
<!-- Divider -->
<div class="w-full mt-6">
  <hr class="border-gray-300 mb-6">
</div>

<% if @events.any? %>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <% @events.each do |event| %>
      <%= render "card", event: event %>
    <% end %>
  </div>

<% else %>
  <!-- Empty State -->
  <div class="text-center py-12 text-gray-500">
    No events available.
  </div>
<% end %>
